/**
 * min-width for break points.
 */
$min_widths: (
  's':  640px,
  'm':  960px,
  'l': 1280px,
) !default;

/**
 * Utility function for min-width.
 */
@function min_width($key) {
  @return map-get($min_widths, $key);
}

/**
 * min-width for break points.
 */
$max_widths: (
  's': min_width('s') - 1px,
  'm': min_width('m') - 1px,
  'l': min_width('l') - 1px,
) !default;

/**
 * Utility function for max-width.
 */
@function max_width($key) {
  @return map-get($max_widths, $key);
}

/**
 * Margin / Padding values.
 */
$margin-padding-values: (
  '1': .5rem,
  '2': 1rem,
  '3': 2rem,
  '4': 4rem,
  '5': 8rem,
) !default;

/**
 * Max width of slides.
 */
$slide_max_width_l: 1280px !default;

/**
 * # of columns.
 */
$columns: 12 !default;

/**
 * # of grids for flexbox grid.
 */
$flex_grids: 6 !default;
